            <!-- заголовок -->
            <div class="header text-center">
                <span class="header__text">Контакт</span>
            </div>
            <!-- заголовок -->

            <!-- кнопка назад -->
            <div class="row margin-bottom_18px">
                <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <button class="btn btn-default btn-backward" type="submit">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <!-- кнопка назад -->

            <!-- форма редактирования контакта -->
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">

                    <div class="contact-edit-form">

                        <!-- для правильной прозрачности флона -->
                        <div class="contact-edit-form__transition"></div>

                        <div class="row">

                            <!-- фото -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">

                                <div class="contact-image">
                                    <img src="static/img/200.jpg" class="img-rounded" alt="" />
                                </div>

                                <div class="contact-buttons">
                                    <button class="btn btn-default contact-button">Сохранить</button>
                                    <button class="btn btn-default contact-button">Удалить</button>
                                </div>

                            </div>
                            <!-- фото -->

                            <!-- форма с полями -->
                            <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                                <form class="contact-attr">
                                    <div class="form-group margin-bottom_10px">
                                        <label for="contactName" class="contact-attr__label">Имя</label>
                                        <input type="text" class="form-control contact-attr__input" id="contactName" name="contactName" placeholder="Имя контакта">
                                    </div>
                                    <div class="form-group margin-bottom_10px">
                                        <label for="contactLastName" class="contact-attr__label">Фамилия</label>
                                        <input type="text" class="form-control contact-attr__input" id="contactLastName" name="contactLastName" placeholder="Фамилия контакта">
                                    </div>
                                    <div class="form-group margin-bottom_10px">

                                        <label class="contact-attr__label">Контактная информация</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="mailConvert">
                                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                            </span>
                                            <input type="email" class="form-control contact-attr__input" name="contactEMail" placeholder="yourmail@gmail.com" aria-describedby="mailConvert">
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom_10px">


                                        <div class="input-group">
                                            <span class="input-group-addon" id="phoneHandset">
                                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                            </span>
                                            <input type="text" class="form-control contact-attr__input" name="contactPhone" placeholder="+7 911 111 2233" aria-describedby="phoneHandset">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- форма с полями -->

                        </div>

                    </div>

                </div>
            </div>

            <!-- форма редактирования контакта -->